﻿@model News.Models.NewsItemViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-3 text-center">
    <h4>@Model.Title</h4>
    <br>
    <p>@Model.Text</p>
    @if (Model.IsExternal)
    {
        <br/>
        <p>Link: <a href="@Model.ExternalLink">Full news</a></p>
    }
</div>