﻿@using News.Models
@model News.Models.PageViewModel<News.Models.NewsItemViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-2">

        <ul class="nav nav-pills nav-stacked custom-side-menu">
            <li class="nav-item">
                @Html.ActionLink("All categories", "Index", new { page = Model.PageInfo.CurrentPage }, new { @class = "nav-link" })
            </li>
            @foreach (News.Areas.AdminPanel.Models.CategoryViewModel cat in ViewBag.Categories)
            {
                <li class="nav-item">
                    @Html.ActionLink(cat.Name, "Index", new { page = Model.PageInfo.CurrentPage, category = cat.Name }, new { @class = "nav-link" })
                </li>
            }

        </ul>

    </div>
    <div class="col-md-10">
        <div class="row">
            @foreach (NewsItemViewModel n in Model.Items)
            {
                @Html.Partial("NewsItem", n)
            }
        </div>
        @Html.Partial("Pagination", Model.PageInfo)
    </div>
</div>

