﻿@model News.Models.NewsItemViewModel

<div class="col-sm-12 col-md-6 col-lg-4">
    <a href="/Home/Detail/@Model.Id" class="custom-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">@Model.Title</h6>
                <p>
                    <span class="badge badge-primary">@Model.CategoryName</span>
                    <span class="badge badge-danger">@Model.SourceName</span>
                </p>
            </div>
        </div>
    </a>
</div>