﻿@model News.Areas.AdminPanel.Models.NewsItemCreateViewModel

<div class="form-group">
    <label for="Title">Title</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <p class="text-danger">@Html.ValidationMessageFor(x => x.Title)</p>
</div>
<div class="form-group">
    <label for="Text">Text</label>
    @Html.TextAreaFor(x => x.Text, new { @class = "form-control", @rows = 15 })
    <p class="text-danger">@Html.ValidationMessageFor(x => x.Text)</p>
</div>
<div class="form-group">
    @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewBag.Categories, "Id", "Name"), new { @class = "form-control" })
</div>
<div class="form-group form-check">
    @Html.CheckBoxFor(x => x.IsPublished, new { @class = "form-check-input" })
    <label for="IsPublished">Published</label>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-success">Save</button>
    @Html.ActionLink("Cancel", "Index", new { area = "AdminPanel", controller = "News" }, new { @class = "btn btn-light" })
</div>