<template>
    <v-list>
        <p class="text-xs-center">Categories</p>
        <v-list-tile v-if="$root.IsLogged" v-on:click="loadCategory(AllCategoriesButton)" :class="{ 'red--text': Current == AllCategoriesButton}">
            <v-list-tile-content>
                <v-list-tile-title v-text="AllCategoriesButton.name"></v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-if="$root.IsLogged" v-on:click="loadSubs(SubscribesButton)" :class="{ 'red--text': Current == SubscribesButton}">
            <v-list-tile-content>
                <v-list-tile-title v-text="SubscribesButton.name"></v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>

        <v-list-tile v-for="item in CategoryList" :key="item.name" v-on:click="loadCategory(item)" :class="{ 'red--text': Current == item}">
            <v-list-tile-content>
                <v-list-tile-title v-text="item.name"></v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
    </v-list>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

export default Vue.extend({
    data(){
        return {
            CategoryList: [],
            SubscribesButton: {name: 'Subscribes'},
            AllCategoriesButton: {name: 'All categories', id: 0},
            Current: {},
        }
    },
    methods:{
        getItems: function(){
            this.$root.$emit('startLoading');
            axios.get((this.$root as any).Url + "category")
            .then(response => {
                this.CategoryList = response.data;
            })
            .catch(error => this.$root.$emit('error', 'Error on categories load.'))
            .then(() => this.$root.$emit('endLoading'));
        },
        loadCategory(val:any){
            this.Current = val;
            this.$root.$emit('loadCategory', val.id);
        },
        loadSubs(val:any){
            this.Current = val;
            this.$root.$emit('loadSubs');
        }
    },
    mounted(){
        this.getItems();
        this.Current = this.AllCategoriesButton;
    },

})
</script>
