<template>
    <v-list>
        <v-list-tile v-for="item in navItems" :key="item.title" :to="item.link">
            <v-list-tile-content>
                <v-list-tile-title v-text="item.title"></v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
    </v-list>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    data(){
        return {
            navItems:[
                {title: 'Subscribes', link: '/user/subscribes'},
                {title: 'Saved news', link: '/user/saved'},
                {title: 'Comments', link: '/user/comments'},
            ]
        }
    }
})
</script>
