﻿a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    transition-duration: 0.1s;
    margin-bottom: .75rem;
}

    a.custom-card:hover {
        box-shadow: rgba(0,0,0,0.2) 0 5px 10px 0px;
    }

    a.custom-card .card {
        margin: 0 !important;
        height: 170px;
    }
    .custom-side-menu {
        max-height: 600px;
        overflow-y: auto;
    }
    .custom-side-menu .nav-item {
        border-bottom: 1px solid #e4e4e4;
        width: 100%;
    }