<template>
    <v-container px-0 py-0>
        <v-layout>
            <v-flex>
                <v-textarea 
                    solo 
                    rows="3" 
                    auto-grow
                    label="Comment" 
                    name="comment"
                    v-model="commentText"
                    v-validate="{required: true}" 
                    :error-messages="errors.collect('comment')" 
                    required
                    append-icon="send"
                    @click:append="addComment()">
                </v-textarea> 
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

export default Vue.extend({
    props:[
        'NewsId'
    ],
    data(){
        return{
            commentText:''
        }
    },
    methods:{
        addComment: function(e:any){
            if (!(this.$root as any).IsLogged){
                this.$root.$emit('login', null);
                return;
            }

            this.$validator.validate('comment')
            .then(valid => {
                if (valid){
                    this.$root.$emit('startLoading');
                    axios.post((this.$root as any).Url + 'comment/', {text: this.commentText, newsItemId: this.NewsId})
                    .then(response => this.$root.$emit('reloadComments'))
                    .catch(error => this.$root.$emit('error', 'Error while adding a comment.'))
                    .then(() => {
                        this.commentText = '';
                        this.$validator.reset();
                        this.$root.$emit('endLoading');
                    });
                }
            });
        }
    }
})
</script>
