<template>
    <v-container px-0 py-0 grid-list-xs>
        <v-layout v-if="Comments.length == 0">
            <v-flex>
                <v-card>
                    <v-card-title>
                        <p>No comments yet.</p>
                    </v-card-title>
                </v-card>
            </v-flex>
        </v-layout>
        <v-layout v-else column>
            <v-flex v-for="item in Comments" :key="item.id">
                <comment-item v-bind:Item="item"></comment-item>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import CommentItem from './CommentItem.vue'

export default Vue.extend({
    data(){
        return {
            Comments:[],
        }
    },
    methods:{
        getItems: function(){
            this.$root.$emit('startLoading');
            axios.get((this.$root as any).Url + 'news/' + this.$route.params.id + '/comments')
            .then(response => {
                this.Comments = response.data;
            })
            .catch(error => this.$root.$emit('error', 'Error on comments load.'))
            .then(() => this.$root.$emit('endLoading'));
        }
    },
    components: {
        CommentItem
    },
    created(){
        this.getItems();
        this.$root.$on('reloadComments', this.getItems);
    }
})
</script>
