<template>
    <v-card>
        <v-card-title>
            <div>
                <span><b>{{Item.author}}</b></span>
                <br>
                <span class="grey--text">{{Item.date | date}}</span>
                <br>
                <br>
                <span class="text">{{Item.text}}</span>
            </div>
        </v-card-title>
    </v-card>
</template>

<script lang="ts">
import Vue from 'vue'


export default Vue.extend({
    props:['Item'],
})
</script>
