<template>
    <v-container fluid grid-list-md>
        <v-layout column>
            <v-flex>
                <v-card>
                    <v-layout v-if="Item === {}" py-5 justify-center>
                        <v-progress-circular indeterminate color="primary"></v-progress-circular>
                    </v-layout>
                    <v-card-title v-else primary-title>
                        <div>
                            <h1>{{Item.title}}</h1>
                            <div class="grey--text">
                                {{Item.date | date}}
                                <v-btn v-if="!isInSaved && $root.IsLogged" flat v-on:click="addToSaved()" color="grey">
                                    <v-icon>bookmark</v-icon>
                                </v-btn>
                                <v-btn v-if="isInSaved && $root.IsLogged" flat v-on:click="removeFromSaved()" color="yellow">
                                    <v-icon dark>bookmark</v-icon>
                                </v-btn>
                                
                            </div>
                            <div>{{Item.text}}</div>
                        </div>
                    </v-card-title>
                </v-card>
            </v-flex>
            <v-flex>
                <add-comment :news-id="Item.id"></add-comment>
                <comment-list></comment-list>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import CommentList from './CommentList.vue'
import AddComment from './AddComment.vue'

export default Vue.extend({
    data(){
        return {
            Item: {},
            isInSaved: false,
        }
    },
    methods:{
        getItem: function(){
            this.$root.$emit('startLoading');

            axios.get((this.$root as any).Url + "news/" + this.$route.params.id)
            .then(response => this.Item = response.data)
            .catch(error => this.$root.$emit('error', 'Error on news load.'))
            .then(() => this.$root.$emit('endLoading'));
            
            if ((this.$root as any).IsLogged) {
                this.checkIsInSaved();
            }
        },
        checkIsInSaved: function(){
            axios.get((this.$root as any).Url + 'user/saved/' + this.$route.params.id)
            .then(response => this.isInSaved = response.data)
            .catch(error => this.$root.$emit('error', 'Error on news load.'));
        },
        addToSaved:function(){
            this.$root.$emit('startLoading');
            axios.post((this.$root as any).Url + 'user/saved/' + this.Item.id)
            .catch(error => this.$root.$emit('error', 'Error on news saving.'))
            .then(() => this.checkIsInSaved())
            .then(() => this.$root.$emit('endLoading'));
        },
        removeFromSaved:function(){
            this.$root.$emit('startLoading');
            axios.delete((this.$root as any).Url + 'user/saved/' + this.Item.id)
            .catch(error => this.$root.$emit('error', 'Error on news removing.'))
            .then(() => this.isInSaved = false)
            .then(() => this.$root.$emit('endLoading'));
        }
    },
    mounted(){
        this.getItem();
    },
    components:{
        CommentList,
        AddComment
    }
})
</script>
