<template>
    <v-container fluid grid-list-md>
        <v-layout v-if="loading" py-5 justify-center>
            <v-progress-circular indeterminate color="primary"></v-progress-circular>
        </v-layout>
        <v-layout v-if="NewsItems.length == 0 && !loading" column>
            <v-flex>
                <v-card flat>
                    <v-card-title>
                        <p class="headline">No news found</p>
                    </v-card-title>
                </v-card>
            </v-flex>
        </v-layout>
        <v-layout v-if="NewsItems.length > 0 && !loading" column>
            <NewsItem v-for="item in NewsItems" :key="item.title" v-bind:Item="item"></NewsItem>
            <v-btn color="primary" v-if="pageInfo.pageCount > pageInfo.pageIndex" v-on:click="loadMore()">Load more</v-btn>
        </v-layout>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import NewsItem from '../../Views/News/NewsItem.vue'
import axios from 'axios'

export default Vue.extend({
    data(){
        return{
            NewsItems: [],
            loading: true,
            pageInfo: {
                pageIndex: 1,
                pageSize: 10,
                sortField: 'Date',
                sortAsc: false,
                filterString: '',
                pageCount: 2,
                categoryId: 0,
                userId: null,
            },
        }
    },
    methods:{
        getItems: function(){
            this.$root.$emit('startLoading');
            axios.get((this.$root as any).Url + "news/getpage", {params: {PageIndex: this.pageInfo.pageIndex, 
                                                                          PageSize: this.pageInfo.pageSize,
                                                                          SortField: this.pageInfo.sortField,
                                                                          SortAsc: this.pageInfo.sortAsc,
                                                                          FilterString: this.pageInfo.filterString,
                                                                          CategoryId: this.pageInfo.categoryId,
                                                                          userId: this.pageInfo.userId}})
            .then(response => {
                this.NewsItems.push(...response.data.data);
                this.pageInfo.pageCount = response.data.pageCount;
                this.loading = false;
            })
            .catch(error => this.$root.$emit('error', 'Error on news load.'))
            .then(() => this.$root.$emit('endLoading'));
        },
        loadMore: function(){
            this.pageInfo.pageIndex++;
            this.getItems();
        },
        loadSubs: function(){
            this.pageInfo.pageIndex = 1;
            this.pageInfo.filterString = '';
            this.pageInfo.userId = (this.$root as any).userId;
            this.pageInfo.categoryId = 0;
            this.NewsItems = [];
            this.getItems();
        },
        loadCategory: function(val:number){
            this.pageInfo.pageIndex = 1;
            this.pageInfo.filterString = '';
            this.pageInfo.userId = null;
            this.pageInfo.categoryId = val;
            this.NewsItems = [];
            this.getItems();
        },
        search: function(val:string){
            this.pageInfo.pageIndex = 1;
            this.pageInfo.filterString = val;
            this.pageInfo.userId = null;
            this.pageInfo.categoryId = 0;
            this.NewsItems = [];
            this.getItems();
        }
    },
    components: {
        NewsItem
    },
    mounted(){
        this.$root.$on('search', (val:string) => this.search(val));
        this.$root.$on('loadCategory', (val:number) => this.loadCategory(val));
        this.$root.$on('loadSubs', () => this.loadSubs());

        if (this.$route.meta.login) {
            this.$root.$emit('login', null);
        }

        if (this.$route.meta.search && this.$route.params.searchString != ''){
            this.search(this.$route.params.searchString);
            return;
        } 

        this.getItems();
    },
    watch:{
        '$route.params.searchString'(newString, oldString){
            this.search(newString);
        }
    }
})
</script>
