<template>
    <v-layout row>
        <v-flex>
            <v-card :href="'detail/' + Item.id">
                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">{{Item.title}}</h3>
                        <div class="black--text"><b>{{Item.categoryName}}</b></div>
                        <div class="grey--text">{{Item.date | date}}</div>
                        <div>{{Item.text | truncate(120)}}</div>
                    </div>
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" :to="'detail/' + Item.id">Read more</v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
    
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

export default Vue.extend({
    props:['Item'],
    data(){
        return {}
    },
})
</script>
