<template>
    <main-layout>
        <template slot="content">
            <news-list></news-list>
        </template>
        <template slot="sidebar">
            <user-panel-nav></user-panel-nav>
        </template>
    </main-layout>
</template>

<script lang="ts">
import Vue from 'vue'
import MainLayout from '../../Views/MainLayout.vue'

import NewsList from '../../Views/UserPanel/NewsList.vue'
import UserPanelNav from '../../Views/Sidebar/UserPanelNav.vue'

import axios from 'axios'

export default Vue.extend({
    components: {
        NewsList,
        MainLayout,
        UserPanelNav
    }
})
</script>