<template>
    <main-layout>
        <template slot="content">
            <subscribe-list></subscribe-list>
        </template>
        <template slot="sidebar">
            <user-panel-nav></user-panel-nav>
        </template>
    </main-layout>
</template>

<script lang="ts">
import Vue from 'vue'
import MainLayout from '../../Views/MainLayout.vue'
import SubscribeList from '../../Views/UserPanel/SubscribeList.vue'

import UserPanelNav from '../../Views/Sidebar/UserPanelNav.vue'

import axios from 'axios'

export default Vue.extend({
    components: {
        SubscribeList,
        MainLayout,
        UserPanelNav
    }
})
</script>
