<template>
    <main-layout>
        <template slot="content">
            <comment-list></comment-list>
        </template>
        <template slot="sidebar">
            <user-panel-nav></user-panel-nav>
        </template>
    </main-layout>
</template>

<script lang="ts">
import Vue from 'vue'
import MainLayout from '../../Views/MainLayout.vue'
import CommentList from '../../Views/UserPanel/CommentList.vue'

import UserPanelNav from '../../Views/Sidebar/UserPanelNav.vue'

import axios from 'axios'

export default Vue.extend({
    components: {
        CommentList,
        MainLayout,
        UserPanelNav
    }
})
</script>
