﻿@model News.Areas.AdminPanel.Models.NewsItemCreateViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Create News</h4>

    <p>@ViewBag.Msg</p>

    @using (Html.BeginForm())
    {
        @Html.Partial("NewsEditor", Model);
    }
</div>