﻿@model News.Areas.AdminPanel.Models.NewsItemEditViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Edit new</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.Id)

        <div class="form-group">
            <label for="ExternalLink">Link</label>
            @Html.TextBoxFor(x => x.ExternalLink, new { @class = "form-control" })
            <p class="text-danger">@Html.ValidationMessageFor(x => x.ExternalLink)</p>
        </div>

        @Html.Partial("NewsEditor", Model)
    }
</div>