﻿@using News.Models
@model News.Models.PageViewModel<News.Models.NewsItemViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            <div class="form-row">
                <div class="form-group col-md-2">
                    <div class="dropdown d-inline-block">

                        @Html.ActionLink(Model.PageInfo.Category ?? "All categories", null, null,
                           new { @class = "btn btn-primary dropdown-toggle",
                               id = "CategoryDropdown", data_toggle = "dropdown",
                               aria_haspopup = "true", aria_expanded = "false" })


                        <div class="dropdown-menu" aria-labelledby="CategoryDropdown">
                            @Html.ActionLink("All categories", "Index", new
                                {
                                   page = Model.PageInfo.CurrentPage,
                                   filter = Model.PageInfo.Filter,
                                   sortingField = Model.PageInfo.SortingField,
                                   isSortingAscending = Model.PageInfo.IsSortingAscending
                                }, new { @class = "dropdown-item" })


                            @foreach (News.Areas.AdminPanel.Models.CategoryViewModel cat in ViewBag.Categories)
                            {
                                @Html.ActionLink(cat.Name, "Index", new
                                {
                                   page = Model.PageInfo.CurrentPage,
                                   filter = Model.PageInfo.Filter,
                                   sortingField = Model.PageInfo.SortingField,
                                   isSortingAscending = Model.PageInfo.IsSortingAscending,
                                   category = cat.Name
                                }, new { @class = "dropdown-item" })
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-10 text-right">
                    @Html.TextBox("filter", Model.PageInfo.Filter, new { @class = "col-sm-10" })
                    <input class="btn btn-primary" type="submit" value="Search" />
                </div>
            </div>
        }
    </div>
</div>


@Html.ActionLink("Create", "Create", null, new { @class = "btn btn-success" })

<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Title", "Index", new {
                    sortingField = "Title", filter = Model.PageInfo.Filter, page = Model.PageInfo.CurrentPage, category = Model.PageInfo.Category,
                    isSortingAscending = (Model.PageInfo.SortingField != "Title" || !Model.PageInfo.IsSortingAscending)
                })
                @if (Model.PageInfo.SortingField == "Title")
                {
                    if (!Model.PageInfo.IsSortingAscending)
                    {
                        <i class="fas fa-caret-up"></i>
                    }
                    else
                    {
                        <i class="fas fa-caret-down"></i>
                    }
                }
            </th>
            <th>
                @Html.ActionLink("Date", "Index", new {
                    filter = Model.PageInfo.Filter, page = Model.PageInfo.CurrentPage, category = Model.PageInfo.Category,
                    isSortingAscending = ((Model.PageInfo.SortingField != null && Model.PageInfo.SortingField != "Date") || !Model.PageInfo.IsSortingAscending)
                })
                @if (Model.PageInfo.SortingField == null || Model.PageInfo.SortingField == "Date")
                {
                    if (!Model.PageInfo.IsSortingAscending)
                    {
                        <i class="fas fa-caret-down"></i>
                    }
                    else
                    {
                        <i class="fas fa-caret-up"></i>
                    }
                }
            </th>
            <th>
                @Html.ActionLink("Category", "Index", new {
                    sortingField = "CategoryName", filter = Model.PageInfo.Filter, page = Model.PageInfo.CurrentPage, category = Model.PageInfo.Category,
                    isSortingAscending = (Model.PageInfo.SortingField != "CategoryName" || !Model.PageInfo.IsSortingAscending)
                })
                @if (Model.PageInfo.SortingField == "CategoryName")
                {
                    if (!Model.PageInfo.IsSortingAscending)
                    {
                        <i class="fas fa-caret-up"></i>
                    }
                    else
                    {
                        <i class="fas fa-caret-down"></i>
                    }
                }
            </th>
            <th>
                External
            </th>
            <th>
                Published
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (NewsItemViewModel n in Model.Items)
        {
        <tr>
            <td>
                @n.Title
            </td>
            <td>
                @n.Date.ToShortDateString()
            </td>
            <td>
                @n.CategoryName
            </td>
            <td class="text-center">
                @if (n.IsExternal)
                {
                    <i class="fas fa-check text-success" style="font-size: 24px"></i>
                }
                else
                {
                    <i class="fas fa-times text-danger" style="font-size: 24px"></i>
                }
            </td>
            <td class="text-center">
                @if (n.IsPublished)
                {
                    <i class="fas fa-check text-success" style="font-size: 24px"></i>
                }
                else
                {
                    <i class="fas fa-times text-danger" style="font-size: 24px"></i>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { area = "AdminPanel", controller = "News", id = n.Id }, new { @class = "btn btn-warning" })
            </td>
            <td>
                @using (Html.BeginForm(new { area = "AdminPanel", controller = "News", action = "Delete" }))
                {
                    @Html.Hidden("id", n.Id)
                    <input type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you wish to delete this article?');" value="Delete" />
                }
            </td>
        </tr>
        }
    </tbody>
</table>

@Html.Partial("Pagination", Model.PageInfo)
