<template>
  <v-app id="app">
    
    <v-content>
      <Navbar />
      <v-container mt-0 pt-0>
        <v-layout mt-5 px-0 mx-0 row>
          
        </v-layout>
        <v-layout mt-3 row justify-left align-start>
          <router-view></router-view>
        </v-layout>
        <login-modal></login-modal>
        <error-modal></error-modal>
      </v-container>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Navbar from "./components/Core/Views/Navbar.vue"

import LoginModal from './components/Core/Views/LoginModal.vue'
import ErrorModal from './components/Core/Views/ErrorModal.vue'

export default Vue.extend ({
    data(){
      return {
      }
    },
    methods: {},
    components: {
      Navbar,
      LoginModal,
      ErrorModal
    }
})
</script>