<template>
    <v-dialog v-model="dialog" max-width="290">
        <v-card>
            <v-card-title class="headline">Error :(</v-card-title>

            <v-card-text>
                An error occured.
                <br>
                {{error}}
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red darken-1" flat="flat" @click="dialog = false">Got it</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    data(){
        return {
            dialog: false,
            error: ''
        }
    },
    created(){
        this.$root.$on('error', (error:any) => {
            this.error = error;
            this.dialog = true;    
        });
    }
})
</script>
