<template>
    <v-layout row justify-center>
        <v-dialog v-model="dialog" max-width="500px" lazy>
            <v-card v-if="isLogin">
                <v-card-text>
                    <v-container>
                        <v-layout wrap justify-center>
                        <v-form>
                            <v-alert
                                :value="loginError"
                                color="error"
                                icon="warning"
                                outline>
                                Login error. Please, try again.
                            </v-alert>
                            <v-text-field 
                                v-validate="{required: true}" 
                                :error-messages="errors.collect('Username')" 
                                data-vv-name="Username" 
                                v-model="user.username" 
                                label="Username" 
                                required></v-text-field>
                            <v-text-field 
                                v-validate="{required: true}" 
                                :error-messages="errors.collect('Password')" 
                                data-vv-name="Password" 
                                v-model="user.password" 
                                label="Password" 
                                required 
                                type="password"></v-text-field>
                        </v-form>
                        </v-layout>
                    </v-container>
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" dark @click.native="login()">Login</v-btn>
                    <v-btn color="blue darken-1" dark flat @click.native="isLogin = false">or Register</v-btn>
                    <v-spacer></v-spacer>
                </v-card-actions>
            </v-card>

            <v-card v-else>
                <v-card-text>
                    <v-container>
                        <v-layout wrap justify-center>
                        <v-form>
                            <v-alert
                                :value="registerError"
                                color="error"
                                icon="warning"
                                outline>
                                Register error. Please, try again.
                            </v-alert>
                            <v-text-field 
                                v-validate="{required: true}" 
                                v-model="user.username" 
                                label="Username" 
                                required></v-text-field>
                            <v-text-field 
                                v-validate="{required: true, is: confirmPassword}" 
                                v-model="user.password" 
                                label="Password" 
                                required 
                                type="password"></v-text-field>
                            <v-text-field 
                                v-validate="{required: true}" 
                                v-model="confirmPassword" 
                                label="Confirm password" 
                                required 
                                type="password"></v-text-field>
                        </v-form>
                        </v-layout>
                    </v-container>
                    </v-card-text>
                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" dark flat @click.native="isLogin = true">or Login</v-btn>
                    <v-btn color="blue darken-1" dark @click.native="register()">Register</v-btn>
                    <v-spacer></v-spacer>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios';

export default Vue.extend({
    $_veeValidate: {
      validator: 'new'
    },
    data(){
        return {
            dialog: false,
            user: {username:'', password:''},
            confirmPassword: '',
            isLogin: true,
            loginError: false,
            registerError: false,
        }
    },
    methods:{
        login: function(e:any){
            this.$validator.validateAll().then(valid => {
                if (valid) {
                    (this.$root as any).Login(this.user);
                    this.dialog = false;
                }
            }).then(()=> {
                this.reset();
            });
        },
        register: function(e:any){
            this.$validator.validateAll().then(valid => {
                if (valid) {
                    (this.$root as any).Register(this.user);
                    this.dialog = false;
                }
            }).then(()=> {
                this.reset();
            });
        },
        reset: function(){
            this.user.username = '';
            this.user.password = '';
            this.$validator.reset();
            this.loginError = false;
            this.registerError = false;
        }
    },
    created(){
        this.$root.$on('login', (error:any) => {
            this.isLogin = true;
            this.dialog = true;
            if (error != null){
                this.loginError = true;
            }
        });

        this.$root.$on('register', (error:any) => {
            this.isLogin = false;
            this.dialog = true;
            if (error != null){
                this.registerError = true;
            }
        });
    }
})
</script>
