<template>
    <v-content fluid>
        <v-layout row>
            <v-flex id="content" color="primary" sm6 offset-sm2>
                <slot name="content"></slot>
            </v-flex>
            <v-flex id="sidebar" sm2>
                <v-container fluid>
                    <v-card max-height="600px">
                        <slot name="sidebar"></slot>
                    </v-card>
                </v-container>
            </v-flex>
        </v-layout>
    </v-content>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    
})
</script>
