<template>
        <v-toolbar dark color="blue accent-3" extended extension-height="10" fixed pa-0>
          <v-layout row>
            <v-flex sm4 offset-sm2>
                <v-btn flat v-for="item in menuItems" :key="item.title" :to="item.link">{{item.title}}</v-btn>
              </v-flex>
                <v-flex sm3>
                  <v-text-field
                      dark
                      color="white"
                      label="Search"
                      append-outer-icon="search"
                      @click:append-outer="search()"
                      v-on:keyup.enter="search()"
                      clearable
                      v-model="searchString"
                    ></v-text-field>
                </v-flex>
                <v-flex sm1>
                  <div v-if="$root.IsLogged" class="text-xs-center">
                    <v-menu offset-y>
                      <v-btn
                        slot="activator"
                         flat>
                        {{$root.username}}
                      </v-btn>
                      <v-list>
                        <v-list-tile
                          v-for="item in userMenuItems"
                          :key="item.title"
                          :to="item.link">
                          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile v-on:click="$root.Logout()">
                          <v-list-tile-title>Logout</v-list-tile-title>
                        </v-list-tile>
                      </v-list>
                    </v-menu>
                  </div>
                  <v-btn v-else flat v-on:click="openLoginForm()">Log in</v-btn>
                </v-flex>
          </v-layout>
          <v-progress-linear v-if="loadings > 0" slot="extension" class="ma-0" color="primary darken-1" :indeterminate="true"></v-progress-linear>
        </v-toolbar>
</template>

<style>
.v-toolbar__extension{
  padding: 0;
}
</style>


<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

export default Vue.extend({
  
    data(){
      return {
        searchString:'',
        menuItems: [
          {title: 'Home', link: '/'},
        ],
        userMenuItems:[
          {title: 'User panel', link: '/user/subscribes'},
        ],
        loadings: 0,
      }
    },
    methods:{
      openLoginForm: function(){
        this.$root.$emit('login', null);
      },
      search: function(){
        if (this.searchString != '' && this.searchString != null){
          this.$router.push('/search/' + this.searchString);
          this.$root.$emit('search', this.searchString);
        }
      }
    },
    mounted(){
      this.$root.$on('startLoading', () => this.loadings++ );
      this.$root.$on('endLoading', () => this.loadings-- );
    }
})
</script>
