﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
            @Html.ActionLink("News", "Index", new { area = "", controller = "Home" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("News", "Index", new { area = "AdminPanel", controller = "News" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Categories", "Index", new { area = "AdminPanel", controller = "Category" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Rss Sources", "Index", new { area = "AdminPanel", controller = "RssSources" }, new { @class = "nav-link" })
                        </li>
                    }
                </ul>
                <ul class="navbar-nav mr-0">
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <span class="navbar-text mx-1">Hello, @HttpContext.Current.User.Identity.Name</span>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", new { area = "AdminPanel", controller = "Account" }, new { @class = "btn btn-primary mx-1", @role = "button" })
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Login", "Login", new { area = "AdminPanel", controller = "Account" }, new { @class = "btn btn-primary mx-1", @role = "button" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Register", "Register", new { area = "AdminPanel", controller = "Account" }, new { @class = "btn btn-outline-primary mx-1", @role = "button" })
                        </li>
                    }
                </ul>
            </div>
        </nav>

        @RenderBody()

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
