﻿@model News.BLL.DTO.PageInfoDto

<nav>
    <ul class="pagination">
        <li class="page-item">
            @Html.ActionLink("«", "Index",
           new { page = 1, filter = Model.Filter, sortingField = Model.SortingField, isSortingAscending = Model.IsSortingAscending, category = Model.Category },
           new { @class = "page-link" })
        </li>
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                @Html.ActionLink("<", "Index",
               new { page = Model.CurrentPage - 1, filter = Model.Filter, sortingField = Model.SortingField, isSortingAscending = Model.IsSortingAscending, category = Model.Category },
               new { @class = "page-link" })
            </li>
        }
        @{
            int firstPage = Model.CurrentPage > 5 ? Model.CurrentPage - 5 : 1;
            int lastPage = Model.CurrentPage <= Model.PageCount - 5 ? Model.CurrentPage + 5 : Model.PageCount;
        }
        @for (int pageNumber = firstPage; pageNumber <= lastPage; pageNumber++)
        {
            <li class="page-item @(Model.CurrentPage == pageNumber ? "active" : "")">
                @Html.ActionLink(pageNumber.ToString(), "Index",
               new { page = pageNumber, filter = Model.Filter, sortingField = Model.SortingField, isSortingAscending = Model.IsSortingAscending, category = Model.Category },
               new { @class = "page-link" })
            </li>
        }
        @if (Model.CurrentPage < Model.PageCount)
        {
            <li class="page-item">
                @Html.ActionLink(">", "Index",
               new { page = Model.CurrentPage + 1, filter = Model.Filter, sortingField = Model.SortingField, isSortingAscending = Model.IsSortingAscending, category = Model.Category },
               new { @class = "page-link" })
            </li>
        }
        <li class="page-item">
            @Html.ActionLink("»", "Index",
           new { page = Model.PageCount, filter = Model.Filter, sortingField = Model.SortingField, isSortingAscending = Model.IsSortingAscending, category = Model.Category },
           new { @class = "page-link" })
        </li>
    </ul>
</nav>