﻿@model News.Areas.AdminPanel.Models.CategoryViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Edit new</h4>

    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.HiddenFor(x => x.Id)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(x => x.Name)
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Save</button>
            @Html.ActionLink("Cancel", "Index", new { area = "AdminPanel", controller = "Category" }, new { @class = "btn btn-light" })
        </div>
    }
</div>