﻿@model News.Models.PageViewModel<News.Areas.AdminPanel.Models.CategoryViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.TextBox("filter", ViewBag.curFilter as string, new { @class = "col-sm-12 col-md-6" });
    <input class="btn btn-primary" type="submit" value="Search" />
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-success" })
}


<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new {
                    filter = Model.PageInfo.Filter, page = Model.PageInfo.CurrentPage,
                    isSortingAscending = ((Model.PageInfo.SortingField != null && Model.PageInfo.SortingField != "Name") || !Model.PageInfo.IsSortingAscending)
                })
                @if (Model.PageInfo.SortingField == null || Model.PageInfo.SortingField == "Name")
                {
                    if (!Model.PageInfo.IsSortingAscending)
                    {
                        <i class="fas fa-caret-up"></i>
                    }
                    else
                    {
                        <i class="fas fa-caret-down"></i>
                    }
                }
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (News.Areas.AdminPanel.Models.CategoryViewModel n in Model.Items)
        {
            <tr>
                <td class="text-left">
                    @n.Name
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit/" + n.Id, new { area = "AdminPanel", controller = "Category" }, new { @class = "btn btn-warning" })
                </td>
                <td>
                    @using (Html.BeginForm(new { area = "AdminPanel", controller = "Category", action = "Delete" }))
                    {
                        @Html.Hidden("id", n.Id)
                        <input type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you wish to delete this category? All attached news will be deleted.');" value="Delete" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("Pagination", Model.PageInfo)