<template>
    <v-content fluid>
        <v-layout row>
            <v-flex id="content" color="primary" sm6 offset-sm3>
                <news-detail></news-detail>
            </v-flex>
        </v-layout>
    </v-content>
</template>

<script lang="ts">
import Vue from 'vue'
import MainLayout from '../../Views/MainLayout.vue'
import NewsDetail from '../../Views/News/NewsDetail.vue'

import CategoryList from '../../Views/Sidebar/CategoryList.vue'

import axios from 'axios'

export default Vue.extend({
    components: {
        NewsDetail,
        MainLayout,
        CategoryList
    }
})
</script>
