<template>
    <main-layout>
        <template slot="content">
            <news-list></news-list>
        </template>
        <template slot="sidebar">
            <category-list></category-list>
        </template>
    </main-layout>
</template>

<script lang="ts">
import Vue from 'vue'
import MainLayout from '../../Views/MainLayout.vue'
import NewsList from '../../Views/News/NewsList.vue'

import CategoryList from '../../Views/Sidebar/CategoryList.vue'

import axios from 'axios'

export default Vue.extend({
    components: {
        NewsList,
        MainLayout,
        CategoryList
    }
})
</script>
