<template>
    <v-layout row>
        <v-flex>
            <v-card flat >
                <v-card-title primary-title>
                    <div>
                        <p class="headline mb-0">{{Item.newsItemTitle}}</p>
                        <small>{{Item.date | date}}</small>
                        <p>{{Item.author}}</p>
                        <p>{{Item.text}}</p>
                    </div>
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" :to="'/detail/' + Item.id">Read news</v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
    
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

export default Vue.extend({
    props:['Item']
})
</script>
