<template>
    <v-container fluid grid-list-md>
        <v-layout v-if="CommentItems.length == 0" column>
            <v-flex>
                <v-card flat>
                    <v-card-title>
                        <p class="headline">No comments</p>
                    </v-card-title>
                </v-card>
            </v-flex>
        </v-layout>
        <v-layout v-if="CommentItems === []" py-5 justify-center>
            <v-progress-circular indeterminate color="primary"></v-progress-circular>
        </v-layout>
        <v-layout v-else column>
            <comment-item v-for="item in CommentItems" :key="item.id" v-bind:Item="item"></comment-item>
        </v-layout>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import CommentItem from './CommentItem.vue'
import axios from 'axios'

export default Vue.extend({
    data(){
        return{
            CommentItems: []
        }
    },
    methods:{
        getItems: function(){
            this.$root.$emit('startLoading');
            axios.get((this.$root as any).Url + "user/comments")
            .then(response => this.CommentItems = response.data)
            .catch(error => this.$root.$emit('error', 'Error on comments load.'))
            .then(() => this.$root.$emit('endLoading'));
        }
    },
    components: {
        CommentItem
    },
    mounted(){
        this.getItems();
    }
})
</script>
