<template>
    <v-container fluid grid-list-md>
        <v-layout v-if="NewsItems.length == 0" column>
            <v-flex>
                <v-card flat>
                    <v-card-title>
                        <p class="headline">No saved news</p>
                    </v-card-title>
                </v-card>
            </v-flex>
        </v-layout>
        <v-layout v-if="NewsItems === []" py-5 justify-center>
            <v-progress-circular indeterminate color="primary"></v-progress-circular>
        </v-layout>
        <v-layout v-else column>
            <NewsItem v-for="item in NewsItems" :key="item.newsItemTitle" v-bind:Item="item"></NewsItem>
        </v-layout>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import NewsItem from './NewsItem.vue'
import axios from 'axios'

export default Vue.extend({
    data(){
        return{
            NewsItems: []
        }
    },
    methods:{
        getItems: function(){
            this.$root.$emit('startLoading');
            axios.get((this.$root as any).Url + "user/saved")
            .then(response => this.NewsItems = response.data)
            .catch(error => this.$root.$emit('error', 'Error on news load.'))
            .then(() => this.$root.$emit('endLoading'));
        }
    },
    components: {
        NewsItem
    },
    mounted(){
        this.getItems();
        this.$root.$on('reloadSavedNews', this.getItems);
    }
})
</script>
