<template>
    <v-layout row>
        <v-flex>
            <v-card flat>
                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">{{Item.newsItemTitle}}</h3>
                    </div>
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" :to="'/detail/' + Item.newsItemId">Read</v-btn>
                    <v-btn flat color="red" v-on:click="remove()">Remove</v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
    
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

export default Vue.extend({
    props:['Item'],
    data(){
        return {}
    },
    methods:{
        remove: function(){
            this.$root.$emit('startLoading');
            axios.delete((this.$root as any).Url + 'user/saved/' + this.Item.newsItemId)
            .catch(error => this.$root.$emit('error', 'Error on news delete.'))
            .then(() => this.$root.$emit('reloadSavedNews'))
            .then(() => this.$root.$emit('endLoading'));
        }
    }
})
</script>
