<template>
    <v-container>
        <v-layout v-if="Categories === []" py-5 justify-center>
            <v-progress-circular indeterminate color="primary"></v-progress-circular>
        </v-layout>
        <v-layout v-else column>
            <subscribe-item v-for="item in Categories" :key="item.name" v-bind:Item="item"></subscribe-item>
            
        </v-layout>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import SubscribeItem from './SubscribeItem.vue'
import axios from 'axios'

export default Vue.extend({
    data(){
        return{
            Categories: [],
        }
    },
    methods:{
        getCategories: function(){
            this.$root.$emit('startLoading');
            axios.get((this.$root as any).Url + "category/")
            .then(response => this.Categories = response.data)
            .catch(error => this.$root.$emit('error', 'Error on subscribes load.'))
            .then(() => this.$root.$emit('endLoading'));
        },
    },
    components: {
        SubscribeItem
    },
    mounted(){
        this.getCategories();
        
        this.$root.$on('reloadSubs', () => {
            this.getCategories();
        });
    }
})
</script>
