<template>
    <v-card>
        <v-layout row>
            <v-flex sm6>
                <v-card-title primary-title>
                    {{Item.name}}
                </v-card-title>
            </v-flex>
            <v-flex sm6>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat color="red" v-if="isInSubs" v-on:click="Unsubscribe()">
                        <v-icon>clear</v-icon>
                    </v-btn>
                    <v-btn flat color="green" v-else v-on:click="Subscribe()">
                        <v-icon>done</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-flex>
        </v-layout>
    </v-card>
    
    
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

export default Vue.extend({
    props:['Item'],
    data(){
        return {
            isInSubs: false,
        }
    },
    methods:{
        Unsubscribe: function(){
            this.$root.$emit('startLoading');
            axios.delete((this.$root as any).Url + 'user/subscribes/' + this.Item.id)
            .catch(error => this.$root.$emit('error', 'Error on unsubscription.'))
            .then(() => this.$root.$emit('reloadSubs'))
            .then(() => this.IsInSubs())
            .then(() => this.$root.$emit('endLoading'));
        },
        Subscribe: function(){
            this.$root.$emit('startLoading');
            axios.post((this.$root as any).Url + 'user/subscribes/' + this.Item.id)
            .catch(error => this.$root.$emit('error', 'Error on subscription.'))
            .then(() => this.$root.$emit('reloadSubs'))
            .then(() => this.IsInSubs())
            .then(() => this.$root.$emit('endLoading'));
        },
        IsInSubs: function(){
            this.$root.$emit('startLoading');
            axios.get((this.$root as any).Url + 'user/subscribes/' + this.Item.id)
            .then(response => this.isInSubs = response.data)
            .catch(error => this.$root.$emit('error', 'Error on load subscription list'))
            .then(() => this.$root.$emit('endLoading'));
        }
    },
    mounted(){
        this.IsInSubs();
    }
})
</script>
