﻿@model News.Areas.AdminPanel.Models.AccountLoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <p>Username @Html.TextBoxFor(x => x.Username) </p>
    <p class="text-danger">@Html.ValidationMessageFor(x => x.Username)</p>
    <p>Password @Html.PasswordFor(x => x.Password) </p>
    <p class="text-danger">@Html.ValidationMessageFor(x => x.Password)</p>

    <p class="text-danger">@ViewBag.invalid</p>
    <input type="submit" class="btn btn-primary" />
}