﻿@model News.Areas.AdminPanel.Models.AccountRegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

@using (Html.BeginForm())
{
    <p class="text-danger">@ViewBag.invalid</p>
    <p>Username @Html.TextBoxFor(x => x.Username) </p>
    <p class="text-danger">@Html.ValidationMessageFor(x => x.Username)</p>

    <p>Email @Html.TextBoxFor(x => x.Email) </p>
    <p class="text-danger">@Html.ValidationMessageFor(x => x.Email)</p>

    <p>Password @Html.PasswordFor(x => x.Password) </p>
    <p class="text-danger">@Html.ValidationMessageFor(x => x.Password)</p>

    <p>Confirm Password @Html.PasswordFor(x => x.ConfirmPassword) </p>
    <p class="text-danger">@Html.ValidationMessageFor(x => x.ConfirmPassword)</p>

    <input type="submit" class="btn btn-primary" />
}